@font-face {
    font-family: Source Sans Pro;
    src: url(../../assets/fonts/SourceSansPro-Regular.otf)
}

body {
    background-color: #bbbfc2;
}

.container {
    width: 980px;
    margin: 0 auto;
    box-shadow: 0 0 8px #000000;
}

.container-banner {
    height: 276px;
}

.container-content {
    height: 680px;
    background-color: #ffffff;
}

.steps-navigation {
    margin-top: 60px;
    width: 300px;
    height: 620px;
    display: inline-block;
    position: relative;
    z-index: 2;
    background-color: #ececee;
    overflow: visible;
    box-shadow: inset -2px 0 13px -5px #000000;
}


    .steps-navigation label {
        width: 100%;
        display: block;
        z-index: 10;
        height: 60px;
        border-bottom: 1px solid #ffffff;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }

        .steps-navigation label span {
            display: block;
            padding-left: 130px;
            line-height: 60px;
            font-size: 18px;
            color: #9ba0a4;
            -moz-transition: 1.5s;
            -o-transition: 1.5s;
            -webkit-transition: 1.5s;
            transition: 1.5s;
            font-family: 'Source Sans Pro';
        }

.white-background {
    height: 60px;
    width: 300px;
    background-color: #ffffff;
    position: absolute;
    -moz-transition: 1.5s;
    -o-transition: 1.5s;
    -webkit-transition: 1.5s;
    transition: 1.5s;
    z-index: -1;
    top: 0;
}

input[type="radio"]:checked + label span {
    color: #36abe1;
}

[name="baby-step"] {
    display: none;
}

.steps-accordion {
    display: inline-block;
    width: 680px;
    float: right;
    margin-top: 60px;
    padding: 0 70px;
    box-sizing: border-box;
}
.slide-accordion p {
    padding: 0;
    color: #65686f;
    font-size: 13px;
    font-family: Helvetica;
}

#baby-step-1:checked ~ .white-background {
    top: 0;
}

#baby-step-2:checked ~ .white-background {
    top: 61px;
}

#baby-step-3:checked ~ .white-background {
    top: 122px;
}

#baby-step-4:checked ~ .white-background {
    top: 183px;
}

#baby-step-5:checked ~ .white-background {
    top: 244px;
}

#baby-step-6:checked ~ .white-background {
    top: 305px;
}

#baby-step-7:checked ~ .white-background {
    top: 366px;
}

[hidden] { 
    display: none; 
}